body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  background-color: #f5f5f5;
}

.section--hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 130px;
  height: 255px;
  border-radius: 30px 0px 30px 30px;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-button {
  position: absolute;
  top: 4px;
  right: 4px;
  color: var(--primary-white-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .menu-button {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container.is-open .nav {
  display: block;
}

.mob-nav__link {
  display: block;
  padding: 16px 70px 16px 16px;
  font-size: 16px;
  line-height: 1.19;
  color: #000000;
}
.mob-nav__link:hover, .mob-nav__link:focus {
  background-color: #bbf330;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    position: relative;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container--offerings {
  background-color: #FFE550;
  border-top-left-radius: 50%;
}

.mobile-menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-wrapper {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.nav__item:not(:last-child) {
  margin-right: 28px;
}

.nav__link {
  padding-top: 28px;
  padding-bottom: 28px;
  color: #000000;
}
.nav__link:hover, .nav__link:focus {
  color: #bbf330;
}

.nav__link.current {
  text-decoration: underline;
  -webkit-text-decoration-color: #bbf330;
          text-decoration-color: #bbf330;
  color: #bbf330;
}

@media screen and (max-width: 767px) {
  .mob-nav__link.current {
    background-color: #bbf330;
  }
}

.logo {
  padding: 10px 0;
}

.hero {
  color: #2c2c2c;
}
.hero__title {
  margin-bottom: 28px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 537px;
    margin-bottom: 44px;
    font-size: 42px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 502px;
    margin-bottom: 28px;
    font-size: 48px;
  }
}
.hero__description {
  margin-bottom: 28px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .hero__description {
    max-width: 336px;
    margin-bottom: 40px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__description {
    max-width: 502px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .dishes {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .dishes {
    position: absolute;
    bottom: -60px;
    right: 0;
  }
}
.dishes__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .dishes__wrapper {
    width: 336px;
    height: 320px;
  }
}
@media screen and (min-width: 1280px) {
  .dishes__wrapper {
    width: 580px;
    height: 580px;
  }
}
.dishes__img {
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .dishes__img {
    border: 14px solid #FFE550;
  }
}
@media screen and (min-width: 1280px) {
  .dishes__img {
    border: 26px solid #FFE550;
  }
}
.dishes__left-arrow {
  position: absolute;
  fill: #2c2c2c;
  stroke: #2c2c2c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}
@media screen and (min-width: 768px) {
  .dishes__left-arrow {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 34px;
    height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .dishes__left-arrow {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 48px;
    height: 40px;
  }
}
.dishes__right-arrow {
  position: absolute;
  fill: #2c2c2c;
  stroke: #2c2c2c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}
@media screen and (min-width: 768px) {
  .dishes__right-arrow {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 34px;
    height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .dishes__right-arrow {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 80px;
    height: 60px;
  }
}

.btn {
  padding: 6px 18px;
  border: none;
  border-radius: 30px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #bbf330;
  color: #2c2c2c;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .test {
    width: 48px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    background-image: url(../image/);
  }
}

.test {
  font-size: 125px;
}/*# sourceMappingURL=index.css.map */