$primary-text-color: #2c2c2c;
$secondaryy-text-color: #000000;
$primary-background-color: #f5f5f5;
$accent-color: #bbf330;
$yellow-color: #FFE550;
$white-color: #ffffff;
$accent-arrow-color: #7EB101;
$accent-btn-color: #B5FF00;