<div class="menu-container js-menu-container" id="mobile-menu">
      <button type="button" class="menu-button js-close-menu">
        <svg width="24" height="24">
          <use
            class="menu_button__icon-close"
            href="./images/sprite.svg#icon-mobile-btn-close"
          ></use>
        </svg>
      </button>
       <nav class="mob-nav">
        <ul class="mob-nav__list list">
          <li class="mob-nav__item"><a href="index.html" class="mob-nav__link link">Home</a></li>
          <li class="mob-nav__item"><a href="#" class="mob-nav__link link">About</a></li>
          <li class="mob-nav__item"><a href="#" class="mob-nav__link link">Service</a></li>
          <li class="mob-nav__item"><a href="#" class="mob-nav__link link">Menu</a></li>
          <li class="mob-nav__item"><a href="#" class="mob-nav__link link">Contact</a></li>
        </ul>
      </nav>
      
    </div>