body {
  min-width: 320px;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;


  padding-top: var(--body-padding-top);
  background-color: $primary-background-color;

  @include tablet{
    font-size: 16px;
  }
}