.mobile-menu-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include tablet {
        display: none;
    }
}

.header-wrapper {
    display: flex;
    align-items: center;
    @include mobile-max {
        display: none;
    }
}


.nav__list {
    display: flex;
    align-items: center;
    
    margin-right: 30px;

}

.nav__item {
    &:not(:last-child) {
        margin-right: 28px;
    }

}

.nav__link {
    padding-top: 28px;
    padding-bottom: 28px;

    color: #000000;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.nav__link.current {
  text-decoration: underline;
  text-decoration-color: $accent-color;
  color: $accent-color;
}

 .mob-nav__link.current {
    @include mobile-max {
    background-color: $accent-color;
    }
  }